@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bg-primary">
    <h1 class="display-4 text-white">BOOK Your Test Now!</h1>
    <img class="img-fluid pb-4"  src="~/lib/img/img123.png" />
   
</div>
